
@{
    ViewBag.Title = "Index";
}

<h2>Search</h2>


  <form action="/Student/Search" method="post">
    <input type="text" name="searchString" value="" placeholder="Input to search" />
    <input type="submit" value="Search" />
</form>
       

